ex1/.idea
ex1/ex2-sol/.idea
ex1/ex2-sol/cmake-build-debug
ex2/.idea
ex2/ex2-sol/.idea
ex2/ex2-sol/cmake-build-debug


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
